*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #000000,
        #1F3A93,
        #6A0DAD
    );
}

.container{

    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;
}

.game-card{

    width:450px;

    padding:30px;

    border-radius:25px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 10px 40px rgba(0,0,0,0.5);

    text-align:center;
}

h1{

    color:white;

    margin-bottom:25px;

    font-size:2rem;
}

/* MODE BUTTONS */

.mode-selector{

    display:flex;

    gap:10px;

    margin-bottom:25px;
}

.mode-btn{

    flex:1;

    padding:12px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

    transition:0.3s;
}

.mode-btn.active{

    background:#1F3A93;

    color:white;
}

.mode-btn:not(.active){

    background:rgba(255,255,255,0.1);

    color:white;
}

/* SCOREBOARD */

.score-board{

    display:flex;

    gap:15px;

    margin-bottom:25px;
}

.score-box{

    flex:1;

    background:rgba(31,58,147,0.25);

    padding:15px;

    border-radius:15px;

    border:1px solid rgba(255,255,255,0.1);
}

.score-box h3{

    color:white;

    margin-bottom:10px;

    font-size:15px;
}

.score-box span{

    color:#1B8A5A;

    font-size:28px;

    font-weight:bold;
}

/* STATUS */

.status{

    color:white;

    font-size:18px;

    font-weight:600;

    margin-bottom:20px;
}

/* BOARD */

.board{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:12px;

    margin-bottom:25px;
}

.cell{

    height:110px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,0.08);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:18px;

    font-size:45px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.cell:hover{

    background:rgba(106,13,173,0.25);

    transform:scale(1.05);
}

/* X AND O COLORS */

.x{

    color:#1B8A5A;
}

.o{

    color:white;
}

/* BUTTON */

#restartBtn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#1B8A5A;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

#restartBtn:hover{

    background:#146B45;

    transform:translateY(-2px);
}

/* RESPONSIVE */

@media(max-width:500px){

    .game-card{

        width:100%;
    }

    .cell{

        height:90px;

        font-size:36px;
    }

}